<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}CidadeParticipa{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header class="header">

        <div class="navbar">

            <a href="{{ url_for('index') }}" class="logo">
                <span>Cidade</span>Participa
            </a>

            <nav>

                <a href="{{ url_for('index') }}">
                    Início
                </a>

                <a href="{{ url_for('novo_relato') }}">
                    Relatar problema
                </a>

                <a href="{{ url_for('relatos') }}">
                    Relatos
                </a>

            </nav>

        </div>

    </header>


    <main>

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>